{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <h1 class="title">Register Page</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username:" required>
        <input type="email" name="email" placeholder="Enter Email:" required>
        <input type="password" name="password" placeholder="Enter Password:" required>
        <input type="password" name="confirm-password" placeholder="Confirm Password:" required>
        
        {% if error %}
            <p style="color: rgb(250, 5, 5);">{{ error }}</p>
        {% endif %}

        <button type="submit">Register</button>

        <h4>Already have an account? <a href="{% url 'login' %}">Login</a></h4>
    </form>
</body>
</html>
