{% load static %}
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'add.css' %}">
</head>
<body>
    <h2>Add New Product</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Product name" required><br>
        <input type="text" name="category" placeholder="Category" required><br>
        <input type="text" name="country" placeholder="Country" required><br>
        <textarea name="description" placeholder="Description" required></textarea><br>
        <input type="number" name="price" placeholder="Price" step="0.01" required><br>
        <input type="number" name="stock" placeholder="Stock Quantity" min="0" required><br>
        <label>
            <input type="checkbox" name="is_active" checked>
            Active
        </label><br>
        <input type="file" name="image" accept="image/*" required><br>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Save</button>
    </form>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
